@use '../abstracts' as *;

h1,
h2,
h3 {
    font-family: $font-family-heading;
    line-height: $line-height-normal;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

p {
    font-size: $body-size;
    margin-bottom: $spacing-md;
}