@use '../abstracts' as *;

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 32px 0 72px 0;

    .hero-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.showcase-item {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .showcase-image {

        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 8px;

        img {
            padding: 2rem;
            background-color: $primary-color;
            border-radius: 1rem;
        }
    }

    .reverse & {
        flex-direction: row-reverse;
    }
}